<header>

    <div class="banner">
      <h1><a href="/">The Inner Circle</a></h1>
      <p><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Private Social Club</p>
    </div>
    <% include nav %>

</header>
