<nav>
  <% if (currentUser) {%>
    <ul>
      <li><p><%= currentUser.username %></p></li>
      <% if (currentUser.admin) { %>
        <li><a href="/posts/new-post">New Post</a></li>
      <% } %>
      <li><a href="/log-out">Logout</a></li>
    </ul>    
  <% } else { %>
    <ul>
      <li><a href="/sign-up">Sign Up</a></li>
      <li><a href="/log-in">Login</a></li>
    </ul>
  <% } %>
</nav>